{
  "printWidth": 80,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "useTabs": false,
  "arrowParens": "avoid",
  "exclude": ["node_modules", ".next"]
}
