@tailwind base;
@tailwind components;
@tailwind utilities;

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.player {
  position: absolute;
  left: 0;
  top: 0;
}

[data-headlessui-state] {
  outline: none;
}

.wrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* 추가 */
}
