@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.player-wrapper {
  position: relative;
  padding-top: 56.25%;

  /* Player ratio: 100 / (1280 / 720) */
}

.player {
  position: absolute;
  left: 0;
  top: 0;
}

[data-headlessui-state] {
  outline: none;
}

.wrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* 추가 */
}
